<%= form_for(@tipo_consulta) do |f| %>
  <% if @tipo_consulta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_consulta.errors.count, "error") %> prohibited this tipo_consulta from being saved:</h2>

      <ul>
      <% @tipo_consulta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :duracao %><br>
    <%= f.time_select :duracao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
