<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tipo_consulta.nome %>
</p>

<p>
  <strong>Duracao:</strong>
  <%= @tipo_consulta.duracao %>
</p>

<%= link_to 'Edit', edit_tipo_consulta_path(@tipo_consulta) %> |
<%= link_to 'Back', tipo_consultas_path %>
