<%= form_for(@consulta) do |f| %>
  <% if @consulta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consulta.errors.count, "error") %> prohibited this consulta from being saved:</h2>

      <ul>
      <% @consulta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :inicio %><br>
    <%= f.time_select :inicio %>
  </div>
  <div class="field">
    <%= f.label :fim %><br>
    <%= f.time_select :fim %>
  </div>
  <div class="field">
    <%= f.label :duracao %><br>
    <%= f.time_select :duracao %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :numeroFila %><br>
    <%= f.number_field :numeroFila %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
