<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @consulta.nome %>
</p>

<p>
  <strong>Duracao:</strong>
  <%= @consulta.duracao %>
</p>

<%= link_to 'Edit', edit_consulta_path(@consulta) %> |
<%= link_to 'Back', consultas_path %>
