<p id="notice"><%= notice %></p>

<p>
  <strong>Inicio:</strong>
  <%= @consulta.inicio %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @consulta.fim %>
</p>

<p>
  <strong>Duracao:</strong>
  <%= @consulta.duracao %>
</p>

<p>
  <strong>Data:</strong>
  <%= @consulta.data %>
</p>

<p>
  <strong>Status:</strong>
  <%= @consulta.status %>
</p>

<p>
  <strong>Numerofila:</strong>
  <%= @consulta.numeroFila %>
</p>

<%= link_to 'Edit', edit_consulta_path(@consulta) %> |
<%= link_to 'Back', consultas_path %>
